*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.activity-done{
    text-decoration: line-through;
}

.container{
    padding-top: 50px;
    max-width: 960px;
    margin: 0 auto;
}

.list-item{
    display: flex;
    align-items: center;
    padding: 10px 0;
    gap: 5px;
}

.list-item span{
    cursor: pointer;
}