<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List</title>
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://unpkg.com/vue@3"></script>
</head>
<body>
    <div id="app">
        <div class="container">
            <input type="text" name="toDoList" placeholder="New activity" v-model="newTaskText">
            <button @click="addActivity">Add activity</button>
            <ul>
                <li v-for="(activity, index) in toDos" class="list-item">
                    <div :class="{ 'activity-done': activity.done }">{{ activity.text }}</div>
                    <span @click="removeActivity(index)">&cross;</span>
                </li>
            </ul>
        </div>
    </div>
    <script src="./js/app.js"></script>
</body>
</html>